{% extends 'base.html' %}
{% block main_block %}
{% for mock in mock_obj.mocks %}
    <div style="margin-top:40px; clear:both;">
        <div>
            <span><b>{{ mock.name }}</b></span>
            <span>[
            {% for method in mock.methods %}
                    {{ method }}{% if not loop.last %},{% endif %}
            {% endfor %}
            ]
            </span>
            <span>/{{ mock.url }}</span>
            <span style="float:right;">
                <a href="/del/{{ mock.key }}">删除</a>
            </span>
        </div>
        <div>
            <div style="color:#93b5cf">response:</div>
            <div>{{ mock.response }}</div>
        </div>
    </div>
{% endfor %}
{% endblock %}